
@{
    ViewBag.Title = "ConfirmOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Order is confirmed</h2>
<h3>We will deliver your order as soon as possible!</h3>
<p>
    @Html.ActionLink("Back", "Index", "Home")
</p>

